.container > *{
margin-top:20px;
}

.container {
    height: 500px;
    width: 210px;
    overflow: auto;
    background-color:#ebeeed;
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
}

.newsTitle{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
    color:#f3401f;
      }