.wrapper {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    border-bottom: 1px solid gray;
    padding: 10px;
    color: black;
}

.wrapper:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);
}

.description:hover {
    color:blue;
}