.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.link {
    text-decoration: none;
    font-family: "Rain Shower", serif;
    color: #f3401f;
    font-size: 2rem;
}

