
.wrapper {
 width: 120px;
 height: 60px;
 position: relative;
}

.cloud {
    position: absolute;
    width: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
  }
  
   .cloudBase {
    background-color: rgba(255, 255, 255, 0.9);
    height: 60px;
    filter: url(#filter-base);
    box-shadow: 0 0 19px 40px rgba(255, 255, 255, 0.9);
  }

   .cloudBack {
    background-color: rgba(215, 215, 215, 0.3);
    height: 20px;
    filter: url(#filter-back);
    box-shadow: 0 0 10px 40px rgba(215, 215, 215, 0.3);
  }
  
  .cloudMid {
    background-color: rgba(66, 105, 146, 0.2);
    height: 30px;
    filter: url(#filter-mid);
    box-shadow: 0 0 28px 30px rgba(66, 105, 146, 0.2);
  }
  
  .cloudFront {
    top: 500px;
    width: 400px;
    height: 30px;
    left: -20px;
    filter: url(#filter-front);
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.4);
  }

  .text {
    font-size:1rem;
    position:absolute;
    left: 50%;
    top:  50%;
    width: 100%;
    animation-name: text-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    color:rgb(243, 64, 31);
   }
  
 .text:hover{
  font-size: 3rem;
 }
  

  .cloudAnimation{
    animation-name: cloud-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

  @keyframes cloud-animation {
    100% {
        opacity: 0;      
    }
  }

  @keyframes text-animation{
    100% {
        opacity: 1;
        margin: 0 0px;
    }  
}

