.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.background {
    background-image: url("../assets/img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    flex: 1;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list > div{
    margin: 50px;
}