.wrapper{
    position: relative;
    height: 93vh;
    background-image: url("../assets/img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.news{
    position: absolute;
    right: 0;
    top:30px;
    }

    .tests{
    padding-top: 100px;
    width: 85%;
    }